name: Build and Deploy on Release

on:
  release:
    types: [published]

run-name: Release ${{ github.event.release.tag_name }}
jobs:
  build-and-push:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: ${{ (format('ghcr.io/{0}/{1}', github.repository_owner, github.event.repository.name)) }}
      TAG_NAME: ${{ github.event.release.tag_name }}

    permissions:
      contents: read
      packages: write 

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Normalize image name to lowercase
        run: echo "IMAGE_NAME=$(echo '${{ env.IMAGE_NAME }}' | tr '[:upper:]' '[:lower:]')" >> $GITHUB_ENV

      - name: Extract version number and set as env variable
        run: echo "VERSION_TAG=${{ split(env.TAG_NAME, '-') [1] }}" >> $GITHUB_ENV

      - name: Build and push the Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ env.VERSION_TAG }}
